h1{
    color: blueviolet;
    word-spacing: 20px;
    letter-spacing: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}



h1{
    color: green;
    letter-spacing: 20px;
    word-spacing: 20px;
}


p{
    text-indent: 50px;
    text-align: center;
    writing-mode: vertical-lr;
}



h2{
    text-decoration: overline;
}


h3{
    text-decoration: line-through;
}


h4{
    text-decoration: underline;
}


p{
    font-family: "Times New Roman", Times, serif;
}





